body{
    background-color: rgb(221, 255, 212);
}

.copyright {
    text-align: center;
    font-size: 1em;
    color: black;
}

.titleblock {
    text-align: center;
    font-size: 3.5em;
    color: black;
    height: 100%vh;
    width: 100%vw;
}

.bar {
    height: 10px;
    background: radial-gradient(circle, rgba(4,205,38,1) 0%, rgba(42,135,42,1) 35%, rgba(0,78,7,1) 100%);
}