body{
    background-color: black;
}

@font-face {
    font-family: blzee;
    src: url(blzee.ttf);
}

.copyright {
    text-align: center;
    font-size: 1em;
    color: black;
}

.titleblock {
    text-align: center;
    margin: 0;
    font-size: 3.5em;
    color: white;
    height: 100%vh;
    width: 100%vw;
    position: absolute;
}

.name {
    font-family: blzee;
    text-align: right;
    margin: 0;
    font-size: 1.5em;
    color: white;
    top: 20px;
    right: 20px;
    padding: 10px;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

#downTitle {
    text-align: center;
    margin-top: 100%;
    padding-bottom: 25%;
    color: black;
    font-size: 1em;
}

.arrow{
    border: solid darkslategray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}