body{
    background-color: black;
}

.gradient_background{
    color: #fff;
    background-image: linear-gradient(to bottom, #000000, #2c2a2a4f, #3a3136, #6f6271, #a299b5, #ced7ff);
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

@font-face {
    font-family: blzee;
    src: url(blzee.ttf);
}

.copyright {
    text-align: center;
    font-size: 1em;
    color: grey;
}

.block {
    margin: 0;
    font-size: 3.5em;
    color: white;
    height: 200%vh;
    width: 100%vw;
}

.name {
    font-family: blzee;
    font-size: 2.25em;
    color: white;
    padding-top: 10%;
}

.contact {
    font-family: monospace;
    font-size: 0.5em;
    color: white;
}

.aboutme {
    font-family: monospace;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
    color: white;
    position: absolute;
    top: 480px;
    left: 5px;
}

.skills {
    font-family: monospace;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
    color: white;
    position: absolute;
    top: 200px;
    left: 5px;
}

.projects {
    font-family: monospace;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.75em;
    color: white;
    position: absolute;
    top: 1010px; /* 1030 */
    left: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.text {
    padding-top: 6%;
    font-family: monospace;
    font-size: 0.35em;
    font-weight: bold;
    color: rgb(153, 153, 168);
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    color-scheme: dark;
}

#downTitle {
    text-align: center;
    color: grey;
    font-size: 1em;
}

.arrow{
    border: solid darkslategray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.grid-container {
    display: grid;
    padding: 0;
    margin: 10%;
    padding-top: 15%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 47% 47%;
    column-gap: 5%;
    row-gap: 10%;
    height: 60vh;
}

.grid-item {
    border: 1px solid white;
    color: white;
    font-family: monospace;
    font-size: 1.0em;
    text-align: left;
}

.grid-item p {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    margin: 0 auto; 
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.icon-row {
    max-width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 240px;
}

.icon-row .icon img {
    width: 35px;
    height: auto;
    filter: grayscale(75%);
    margin: 0 10px;
}

/* Partition line for decoration */
.line {
    border-top: 1px solid rgb(24, 24, 24);
    position: absolute;
    top: 865px;
    left: 2.5%;
    width: 95%;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f281;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #858585;
    color: black;
    text-decoration: underline;
}

/* Add a color to the active link */
.topnav a.active {
    /* background-color: #04AA6D; */
    color: rgb(255, 255, 255);
}

#menu-icon {
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    left: 12px;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -200px; /* Hide sidebar initially */
    width: 100px;
    height: 100%;
    background-color: #333;
    transition: left 0.8s ease;
}

#menu-toggle:checked + #menu-icon + #sidebar {
    left: 0; /* Show sidebar when checkbox is checked */
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #555;
}

#close-btn {
    position: absolute;
    bottom: 20px; /* Adjust button position as needed */
    left: 20px; /* Adjust button position as needed */
    padding: 8px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#close-btn:hover {
    background-color: #555;
}